body {
  font-family: Arial, sans-serif;
  background: #f4f7fb;
  text-align: center;
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  margin: auto;
  width: 300px;
  border-radius: 10px;
}

button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #4f46e5;
  color: white;
  font-size: 14px;
}